*{
    margin:0px;
    padding: 0%;
}
body{
    
    background-color: #cff7a8;
}
.titleDiv{
    height:10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.container{
    
    height: 50vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.choices{
    height: 40vh;
    width: 80vh;
    display: flex;
    gap: 2vh;
    align-items: center;
    justify-content: center;
}
.choice{
    height: 32vh;
    border-radius: 50%;
    flex:1;
    width:calc(32%,2vh);
    gap:2vh;
    text-align: center;
    border:0.4vh solid black;
    background-size: contain;  /* Ensures the whole image fits */
    background-repeat: no-repeat; /* Prevents tiling */
    background-position: center; 
    transition: transform 0.20s ease-in-out;
}

.choice:hover{
    opacity: 0.8;
    cursor:pointer;
    transform:scale(1.1);
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); 
}
.choice:active{
    transform: scale(0.8);
    transition-duration: 0.08s;
}
.result{
    height: 40vh;
    font-size: 2rem;
    display: flex;
    gap: 2vh;
    align-items: center;
    justify-content: space-evenly;
    align-items: center;
}
.winner{
    margin-top: 10vh;
    height: 20vh;
}
.score{
    height: 20vh;
}
.hide{
    display: none;
}
#msg{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
    font-size: 1.5rem;
} 